body, html {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

input::-webkit-input-placeholder { color: #b8b8b8; }
input::-moz-placeholder     { color: #b8b8b8; } 
input:-moz-placeholder      { color: #b8b8b8; } 
input:-ms-input-placeholder { color: #b8b8b8; }

textarea::-webkit-input-placeholder { color: #b8b8b8; }
textarea::-moz-placeholder     { color: #b8b8b8; } 
textarea:-moz-placeholder      { color: #b8b8b8; } 
textarea:-ms-input-placeholder { color: #b8b8b8; }

p {
  word-wrap: break-word;
}